/* fraunces-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/fraunces-v38-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fraunces-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/fraunces-v38-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/montserrat-v31-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/montserrat-v31-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/montserrat-v31-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

$size-50: calc(4 / 16 * 1rem);
$size-100: calc(8 / 16 * 1rem);
$size-150: calc(12 / 16 * 1rem);
$size-167: calc(13 / 16 * 1rem);
$size-175: calc(14 / 16 * 1rem);
$size-200: calc(16 / 16 * 1rem);
$size-300: calc(24 / 16 * 1rem);
$size-400: calc(32 / 16 * 1rem);
$size-500: calc(40 / 16 * 1rem);
$size-1000: calc(80 / 16 * 1rem);

$black: #1c232b;
$grey: #6c7289;
$cream: #f2eae2;
$white: #fff;
$green-500: #3d8168;
$green-700: #1a4032;

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  background-color: $cream;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-preset-1 {
  font-family: 'Fraunces', serif;
  font-size: $size-400;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0;
}

.text-preset-2 {
  font-family: 'Montserrat', sans-serif;
  font-size: $size-175;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0;
}

.text-preset-3 {
  font-family: 'Montserrat', sans-serif;
  font-size: $size-175;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0;
}

.text-preset-4 {
  font-family: 'Montserrat', sans-serif;
  font-size: $size-150;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 5px;
}

.text-preset-5 {
  font-family: 'Montserrat', sans-serif;
  font-size: $size-167;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0;
}

.card {
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  border-radius: $size-100;
  margin: $size-1000 $size-150;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  div.text-container {
    padding: $size-400;
    margin: 0 auto;

    h1 {
      color: $black;
      margin-bottom: $size-300;
    }

    p {
      color: $grey;
      margin-bottom: $size-300;
    }

    .price-container {
      display: flex;
      align-items: center;
      gap: $size-200;
      margin-bottom: $size-300;

      span.price-current {
        color: $green-500;
      }

      span.price-original {
        text-decoration: line-through;
        color: $grey;
      }
    }

    button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: $size-100;
      background-color: $green-500;
      color: $white;
      width: 100%;
      padding: $size-200;
      border: none;
      border-radius: $size-100;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $green-700;
      }

      i.icon-cart {
        background-image: url('./images/icon-cart.svg');
        position: relative;
        bottom: 1px;
        height: $size-200;
        width: $size-200;
        background-repeat: no-repeat;
      }
    }
  }
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 768px) {
  main {
    height: 100vh;
  }

  .card {
    flex-direction: row;
    align-items: stretch;
    margin: auto 84px;
    max-width: 600px;

    img {
      width: 300px;
    }

    div.text-container {
      padding: $size-400;
    }
  }
}