/* fraunces-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/fraunces-v38-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* fraunces-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/fraunces-v38-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/montserrat-v31-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/montserrat-v31-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/montserrat-v31-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  background-color: #f2eae2;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-preset-1 {
  font-family: "Fraunces", serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0;
}

.text-preset-2 {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0;
}

.text-preset-3 {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0;
}

.text-preset-4 {
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 5px;
}

.text-preset-5 {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0;
}

.card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  border-radius: 0.5rem;
  margin: 5rem 0.75rem;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card div.text-container {
  padding: 2rem;
  margin: 0 auto;
}
.card div.text-container h1 {
  color: #1c232b;
  margin-bottom: 1.5rem;
}
.card div.text-container p {
  color: #6c7289;
  margin-bottom: 1.5rem;
}
.card div.text-container .price-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
.card div.text-container .price-container span.price-current {
  color: #3d8168;
}
.card div.text-container .price-container span.price-original {
  text-decoration: line-through;
  color: #6c7289;
}
.card div.text-container button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: #3d8168;
  color: #fff;
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.card div.text-container button:hover, .card div.text-container button:focus {
  background-color: #1a4032;
}
.card div.text-container button i.icon-cart {
  background-image: url("./images/icon-cart.svg");
  position: relative;
  bottom: 1px;
  height: 1rem;
  width: 1rem;
  background-repeat: no-repeat;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 768px) {
  main {
    height: 100vh;
  }
  .card {
    flex-direction: row;
    align-items: stretch;
    margin: auto 84px;
    max-width: 600px;
  }
  .card img {
    width: 300px;
  }
  .card div.text-container {
    padding: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
